@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro200.ttf) format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro200italic.ttf) format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro300.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro300italic.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansProregular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansProitalic.ttf) format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro700.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro700italic.ttf) format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro900.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url(fonts/SourceSansPro900italic.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

:root {
	--colorOtlet: #555;
	--colorAmis: #22a6b3;
	--ColorFamille: #0B5D97;
	--colorCollaborateurs: #dd5e3a;
	--colorCollegues: purple;
	--colorContemporains: #388C44;
	--colorAutres: #555;
	--colorType: #555;
	--colorInstitution: #555;
	--colorEvenement: #555;
	--colorOeuvre: #555;
}
html, body {
	height: 100%;
	/*width: 100%;*/
	margin: 0 auto;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: white;
}
a {
	/*text-decoration: underline;*/
	text-decoration: none;
	color: inherit;
}
a:visited {
	/*text-decoration: underline;*/
	color: inherit;
}
.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: "header header" "filters filters" "network desctop" "network descbottom" "footer footer";
	grid-template-columns: 65% 35%;
	grid-template-rows: 50px 50px 20% 60% 50px;
}
@media (min-width:600px) {
	.network {
		border-right: 1px solid grey;
	}
	.descbottom {
		padding: 10px;
	}
	.cardList {
		width: 200px;
		height: 440px;
	}
	#infocontainerimg {
	width: 30%;
	display: inline-block;
	text-align: right;
	padding: 25px;
}
#infocontainertxt {
	width: 50%;
	display: inline-block;
	font-size: 0.9em;
	}
}
@media (max-width:600px) {
	.container {
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-areas: "header header" "filters filters" "network network" "desctop desctop" "descbottom descbottom" "footer footer";
		grid-template-columns: 100% 0%;
		grid-template-rows: 50px fit-content(50px) 400px fit-content(350px) 100px;
	}
	.filterbutton {
		display: -webkit-inline-box;
	}
	#langdesclogo {
		display: none;
	}
	.network {
		border: 0;
	}
	.descbottom {
		padding: 10px;
	}
	.cardList {
		width: 40%;
		height: 300px;
		font-size: 0.8em;
	}
	#infocontainerimg {
    display: none;
    width: 10%
	}
	#infocontainertxt {
    width: 90%;
    display: inline-block;
    font-size: 0.9em;
    /* font-family: Arial; */
    margin: 5%;
}
}
.container>div {
	/*border: 1px dashed #777;*/
}
.header {
	grid-area: header;
	background-color: white;
	padding: 10px;
}
.filters {
	grid-area: filters;
	background-color: white;
	padding: 15px 10px;
	color: black;
	/*border-bottom: 2px solid #2975AC;*/
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06);
	z-index: 1;
	font-family: 'Source Sans Pro', sans-serif;
}
.filters div{
	margin-right: 30px;
	display: inline-block
}
.network {
	grid-area: network;
}
.desctop {
	grid-area: desctop;
	display: grid;
	grid-template-columns: 30% 70%;
}
.descbottom {
	grid-area: descbottom;
	background-color: white;
	font-weight: 400;
	font-size: 0.9em;
}
.footer {
	background-color: white;
	grid-area: footer;
	color: black;
	display: grid;
	grid-template-columns: 50% 50%;
	font-weight: 400;
	border-top: 1px solid grey;
	font-size: 0.8em;
	padding: 0 0 10px 0;
}
#mynetwork {
	height: 100%;
	width: 100%;
	background-color: #fafcfd;
}
.titlePage {
	color: #444444;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.lighttitle {
	color: black;
/* 	font-weight: 400; */
	text-transform: uppercase;
}
.lighttitle:hover {
	color: #0B5D97;
	cursor: pointer;
}
.lighttitle span:nth-child(1) {
	font-weight: 900;
}
.lighttitle span:nth-child(2) {
	font-weight: 400;
}
.lighttitle span:nth-child(3) {
	font-weight: 300;
}
.filterbutton {
	margin-left: 5px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 400;
	border-radius: 2px;
	padding: 1px 5px;
	color: white;
	border: 1px solid transparent;
	cursor: pointer;
}
.activebutton {
	background-color: white!important;
	border: 1px solid black;
	color: black;
}
#buttonOtlet {
	background-color: var(--colorOtlet);
	margin-right: 30px;
}
#buttonAmis {
	background-color: var(--colorAmis);
}
#buttonFamille {
	background-color: var(--ColorFamille);
}
#buttonCollaborateurs {
	background-color: var(--colorCollaborateurs);
}
#buttonCollegues {
	background-color: var(--colorCollegues);
}
#buttonContemporains {
	background-color: var(--colorContemporains);
}
#buttonAutres {
	background-color: var(--colorAutres);
}
#buttonInstitution,
#buttonPersonne,
#buttonEvenement,
#buttonOeuvre {
	background-color: var(--colorType);
}
#biodesc {
	padding: 15px;
}
#persopic {
	width: 100%;
	/*height: 100%;*/
	grid-column: 1 / 2;
	display: grid;
	border-radius: 50%;
	border: 1px solid black;
}
th {
	opacity: 0.7;
	text-align: right;
	padding-right: 20px;
	padding-bottom: 5px;
	font-weight: lighter;
	vertical-align: top
}
td {
	font-weight: 400;
}
th, td {
	border-bottom: 1px solid #ccc
}
th.last {
	border-bottom: none;
}
td.last {
	border-bottom: none;
}
tr.last {
	border-bottom: none;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr:last-child th {
  border-bottom: 0;
}
.desctop {
	background-color: white;
	padding: 15px;
}
#biodescname {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: 700;
	margin-bottom: 10px;
	color: black;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#footerinfos {
	grid-column: 1 / 1;
	padding: 10px 0 0 20px;
}
#footerinfos img {
	margin-top: 10px;
}
/* 
#footercenter {
	grid-column: 2 / 2;
	padding: 10px 0 0 30px;
}
 */
#footercontact {
	grid-column: 2 / 2;
	padding: 10px 0 0 30px;
}
#footerlogos {
	float: right;
}
#footerlogos img {
	margin: 10px 10px 0 0;
}
#rightpanelcontainer {
	visibility: hidden;
	background-color: white;
}
.cardList {
	background-color: #fff;
	margin: 10px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border-radius: 5px;
}
.cardList:hover {
	/*margin: 5px;*/
	/*padding: 5px;*/
	/*cursor: pointer;*/
	/*background-color: #eee;*/
	/*color: black;*/
	overflow: visible;
	height: inherit;
	min-height: 440px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.cardList img {
	width: 100%;
}
#cardlistcontent {
	margin: 10px;
}
.cardlistrelation {
	font-weight: 400;
}
.cardlistdesc {
	color: #666666;
	font-size: 0.85em;
}
.cardList-otlet .cardlistrelation {
	color: var(--colorOtlet);
}
.cardList-institution .cardlistrelation {
	color: var(--colorInstitution);
}
.cardList-famille .cardlistrelation {
	color: var(--ColorFamille);
}
.cardList-amis .cardlistrelation {
	color: var(--colorAmis);
}
.cardList-collaborateurs .cardlistrelation {
	color: var(--colorCollaborateurs);
}
.cardList-contemporains .cardlistrelation {
	color: var(--colorContemporains);
}
.cardList-collegues .cardlistrelation {
	color: var(--colorCollegues);
}
.cardList-autres .cardlistrelation {
	color: var(--colorAutres);
}
.Grid {
	text-align: center;
}
.cardListHidden {
	display: none;
}
#buttonsrightheader {
	color: black;
	float: right;
	font-size: 0.9em;
	font-weight: 400;
	opacity: 0.8;
	text-transform: uppercase;
	padding: 5px;
}
#buttonsrightheader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#buttonsrightheader li {
	display: inline;
	margin: 10px;
}
#buttonsrightheader li:hover {
	color: #0B5D97;
}
#sticky {
	position: sticky;
	top: 0;
}
div.vis-network div.vis-navigation div.vis-button:hover {
	box-shadow: 0 0 3px 3px rgba(167, 167, 167, 0.4)!important;
}
#description {
	padding: 20px;
	font-size: 1em;
}
#closebutton {
	position: absolute;
	cursor: pointer;
	right: 0;
	margin: -10px 10px;
}
.Grid {
	color: black;
	background-color: white
}

#infocontainerimg img {
	width: 60%;
}

.container_liste {
	display: grid;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: "header header" "filters filters" "Grid Grid" "footer footer";
	grid-template-columns: 100% 0%;
	grid-template-rows: 50px fit-content(50px) fit-content(350px) fit-content(350px);
}
.loadingtext{
	margin: 20px;
}
[lang="en"]{
    display:none;
}